@font-face {
  font-family: digital;
  src: url("font/lab.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "hh_r";
  letter-spacing: -0.05em;
}

.regular {
  font-family: "hh_r";
}

.light {
  font-family: "hh_l";
}

.medium {
  font-family: "hh_m";
}

.bold {
  font-family: "hh_b";
}

.digital {
  font-family: digital;
  background: -webkit-gradient(linear, left top, right top, from(#e2b87e), to(#c75f4f));
  background: linear-gradient(to right, #e2b87e, #c75f4f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hh_l {
  font-family: "hh_l";
}

.hh_r {
  font-family: "hh_r";
}

.hh_m {
  font-family: "hh_m";
}

.hh_b {
  font-family: "hh_b";
}

.ht_r {
  font-family: "ht_r";
}

.ht_m {
  font-family: "ht_m";
}
.blur::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* Reset body */
body {
  margin: 0;
  overflow-wrap: break-word;
}

/* Do not break Korean words */
:lang(ko) {
  word-break: keep-all;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* CSS Reset by [class] - Samsung Internet does supports it.(2021-07) */
[class] {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]:where(button) {
  cursor: pointer;
}

[class]::before,
[class]::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]:where(ol, ul) {
  list-style: none;
}

[class]:where(button, fieldset, iframe, input, select, textarea) {
  border: 0;
}

[class]:where(button, dialog, input, mark, meter, progress) {
  background-color: transparent;
}

[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.room-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.room-wrap__logo {
  position: fixed;
  left: 40px;
  top: 40px;
}

.room-wrap__menu {
  position: fixed;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.room-wrap__vr {
  display: block;
  height: 60px;
  padding-right: 60px;
  background: url(../img/room/btn_home.png) no-repeat 100% 0;
}

.room-wrap__hmd {
  position: fixed;
  left: 25px;
  bottom: 46px;
}

.room-wrap__find {
  position: fixed;
  left: 25px;
  bottom: 49px;
  width: 278px;
  height: 80px;
  padding:20px 24px;
  background: url(../img/room/more.png) no-repeat 0 0;
  text-align: left;
}
.room-wrap__find .t1 {
  font-size: 18px;
  color:#fff;
  letter-spacing: 0;
}
.room-wrap__find .t2 {
  font-size: 13px;
  color:rgba(255,255,255,.8)
}

.room-wrap__find::after {
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  background: url(../img/room/arrow.png) no-repeat 0 0/cover;
  position: absolute;
  right: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.room-wrap__event {
  position: fixed;
  right: 40px;
  bottom: 49px;
}
.room-wrap__screen {
  position: fixed;
  top: 23.9vh;
  left: 57.71vw;
}

.room-wrap__obj {
  position: fixed;
  top: 67.16vh;
  left: 10.42vw;
}

.room-wrap__360 {
  position: fixed;
  top: 55.16vh;
  left: 62.08vw;
}

.room-wrap__copy {
  position: fixed;
  left: 25px;
  bottom: 20px;
}

.room-wrap__ico:hover .toast {
  display: block;
}

.room-wrap__ico::after {
  z-index: -1;
  content: '';
  display: block;
  width: 96px;
  height: 96px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  animation: lightAni 1.3s cubic-bezier(0.5, 1, 0.5, 1) infinite;
}

.room-wrap__ico .toast {
  display: none;
  width: 240px;
  padding: 17px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + 18px);
  background: url(../img/room/more.png) no-repeat 0 0 / cover;
  text-align: center;
  font-size: 13px;
  color: #fff;
  line-height: 1.6;
}

.room-wrap__ico .toast::after {
  content: '';
  display: block;
  width: 10px;
  height: 6px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  /* background: url(../img/room/arrow_down.png) no-repeat 0 0 / cover; */
}

@keyframes lightAni {
  0% {
    transform: scale(0.2);
    opacity: 0.9;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}


.media-dialog {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(24, 27, 30, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.media-dialog.on {
  display: flex;
}

.media-dialog .pop-item-wrap {
  width: 1200px;
  height: 840px;
  overflow: Hidden;
  margin: 0 auto;
  background: #f1eff2;
  position: relative;
}

.media-dialog .pop-item-wrap .pop-close {
  z-index: 50;
  width: 27px;
  height: 27px;
  overflow: hidden;
  border: 0;
  background: transparent;
  position: absolute;
  right: 28px;
  top: 28px;
  padding: 0;
}

.media-dialog .pop-item-wrap .pop-close img {}

.media-dialog .pop-item-wrap .media-item-wrap {
  position: relative;
  width: 1040px;
  height: 585px;
  overflow: hidden;
  margin: 0 auto;
}

.media-dialog .pop-item-wrap .media-item-wrap iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.media-dialog .pop-item-wrap .mtit {
  width: 100%;
  height: auto;
  overflow: Hidden;
  padding-top: 42px;
  text-align: center;
  font-size: 44px;
  color: #002c5f;
}

.media-dialog .swiper-container {
  height: 100%;
}

.media-dialog .swiper-container .swiper-slide {}

.media-dialog .swiper-container .swiper-pagination {
  bottom: 60px;
}

.media-dialog .swiper-container.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 0;
  border: 1px solid #002c5f;
  background: #fff;
  opacity: 1;
  margin: 0 10px;
}

.media-dialog .swiper-container.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #002c5f;
}


.dialog_tutor {
  width: 320px;
  height: 120px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  display: none;
  pointer-events: none;
  animation: showNhide 4s forwards;
}

.dialog_tutor.show {
  display: flex;
}

.dialog_tutor p {
  font-size: 22px;
  line-height: 1.4em;
  color: #fff;
  font-family: "hh_m";
}

.btn_sound_ctr {
  position: fixed;
  top: 77px;
  right: 17px;
  width: 66px;
  height: 54px;
  background-image: url(../img/ico_sound.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px auto;
}

.btn_sound_ctr.mute {
  background-image: url(../img/ico_sound_off.png);
}

.btn_sound_ctr .blind {
  display: none;
}

@-webkit-keyframes showNhide {
0% {opacity: 0; filter: blur(30px);}
20% {opacity: 1;filter: blur(0);}
60% {opacity: 1;filter: blur(0);}
100% {opacity: 0; filter: blur(30px);}
}

@keyframes showNhide {
0% {opacity: 0; filter: blur(30px);}
20% {opacity: 1;filter: blur(0);}
60% {opacity: 1;filter: blur(0);}
100% {opacity: 0; filter: blur(30px);}
}