@font-face {
  font-family: digital;
  src: url("font/lab.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "hh_r";
  letter-spacing: -0.05em;
}

.regular {
  font-family: "hh_r";
}

.light {
  font-family: "hh_l";
}

.medium {
  font-family: "hh_m";
}

.bold {
  font-family: "hh_b";
}

.digital {
  font-family: digital;
  background: -webkit-gradient(linear, left top, right top, from(#e2b87e), to(#c75f4f));
  background: linear-gradient(to right, #e2b87e, #c75f4f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* HyundaiSansHead */
.hh_l {
  font-family: "hh_l";
}

.hh_r {
  font-family: "hh_r";
}

.hh_m {
  font-family: "hh_m";
}

.hh_b {
  font-family: "hh_b";
}

.ht_r {
  font-family: "ht_r";
}

.ht_m {
  font-family: "ht_m";
}
.blur::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* Reset body */
body {
  margin: 0;
  overflow-wrap: break-word;
  overflow:hidden;
}

/* Do not break Korean words */
:lang(ko) {
  word-break: keep-all;
}

/* Reset img */
img {
  max-width: 100%;
  height: auto;
}

/* CSS Reset by [class] - Samsung Internet does supports it.(2021-07) */
[class] {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]:where(button) {
  cursor: pointer;
}

[class]::before,
[class]::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class]:where(ol, ul) {
  list-style: none;
}

[class]:where(button, fieldset, iframe, input, select, textarea) {
  border: 0;
}

[class]:where(button, dialog, input, mark, meter, progress) {
  background-color: transparent;
}

[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.loading-wrap {
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loading-wrap__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.loading-wrap__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 35px;
  height: 35px;
  background-color: #fff;
}

.loading-wrap__txt {
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  margin-top: 37px;
}

.loading-wrap__txt::after {
  content: '...';
  display: inline-block;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  letter-spacing: 5px;
  margin-left: 5px;
}

:root {
  --c1: #8E1B11;
  --c2: #4397CA;
  --c3: #363F2F;
  --c4: #414B37;
  --c5: #15243F;
  --c6: #828E91;
  --c7: #454545;
  --c8: #565656;
  --c9: #CCCCCC;
  --c10: #7F7F7F;
  --c11: #BEC0BC;
  --c12: #000000;

  --inc1: #9f9f9f;
  --inc2: #9F9F9F;
  --inc3: #514d31;
  --inc4: #000000;
  --inc5: #000000;
  --inc6: #000000;
  --inc7: #5d4541;
}


.configuratore-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.configuratore-wrap__logo {
  position: fixed;
  left: 40px;
  top: 40px;
}

.configuratore-wrap__menu {
  position: fixed;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.configuratore-wrap__vr {
  display: block;
  height: 60px;
  padding-right: 60px;
  background: url(../img/btn_home.png) no-repeat 100% 0;
}

.configuratore-wrap__bg {
  height: 100%;
}

.configuratore-wrap .btn-wrap {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  top: 8.5vh;
}

.configuratore-wrap .btn-wrap.in button {
  color: #676767;
}

.configuratore-wrap .btn-wrap.in button.active {
  color: #000;
}

.configuratore-wrap .btn-wrap button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: #fff;
  width: 220px;
  height: 60px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
	background: #fff; color: #002c5f;
}

.configuratore-wrap .btn-wrap button.active {
  color: #fff;
  background-color: #002c5f;
}

.configuratore-wrap .etc-wrap {
  position: fixed;
  right: 0;
  bottom: 44px;
  padding-right: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* z-index: 1; */
  z-index: 11;
}

.configuratore-wrap .etc-wrap .btn {
  min-width: 50px;
  font-size: 18px;
  color: #000;
}

.configuratore-wrap .etc-wrap .btn:not(:last-child) {
  margin-bottom: 34px;
}

.configuratore-wrap .etc-wrap__lampoff {
  padding-top: 32px;
  background: url(../img/lamp_off.png) no-repeat 50% 0/50px 25px;
}

.configuratore-wrap .etc-wrap__lampon {
  padding-top: 32px;
  background: url(../img/lamp_on.png) no-repeat 50% 0/50px 25px;
}

.configuratore-wrap .etc-wrap__camera {
  padding-top: 39px;
  background: url(../img/ico_camera.png) no-repeat 50% 0/44px 34px;
}

.configuratore-wrap .etc-wrap__hmd {
  padding-top: 36px;
  background: url(../img/ico_glasses.png) no-repeat 50% 0/50px 31px;
}

.configuratore-wrap .etc-wrap__hmd.in {
  background: url(../img/ico_glasses_in.png) no-repeat 50% 0/50px 31px;
}

.configuratore-wrap .etc-wrap__ar {
  padding-top: 51px;
  background: url(../img/ico_ar.png) no-repeat 50% 0/44px 46px;
}

.configuratore-wrap .etc-wrap__ar.in {
  background: url(../img/ico_ar_in.png) no-repeat 50% 0/44px 46px;
}

.configuratore-wrap .etc-wrap__color {
  padding-top: 54px;
  position: relative;
  z-index: 100;
}

.configuratore-wrap .etc-wrap__color::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
}

.configuratore-wrap .etc-wrap__color.in::before {
  border-color: #fff;
}

.configuratore-wrap .etc-wrap__color .selectColor {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 100;
}

.configuratore-wrap .etc-wrap__color .selectColor.c1 {
  background-color: var(--c1);
}

.configuratore-wrap .etc-wrap__color .selectColor.c2 {
  background-color: var(--c2);
}

.configuratore-wrap .etc-wrap__color .selectColor.c3 {
  background-color: var(--c3);
}

.configuratore-wrap .etc-wrap__color .selectColor.c4 {
  background-color: var(--c4);
}

.configuratore-wrap .etc-wrap__color .selectColor.c5 {
  background-color: var(--c5);
}

.configuratore-wrap .etc-wrap__color .selectColor.c6 {
  background-color: var(--c6);
}

.configuratore-wrap .etc-wrap__color .selectColor.c7 {
  background-color: var(--c7);
}

.configuratore-wrap .etc-wrap__color .selectColor.c8 {
  background-color: var(--c8);
}

.configuratore-wrap .etc-wrap__color .selectColor.c9 {
  background-color: var(--c9);
}

.configuratore-wrap .etc-wrap__color .selectColor.c10 {
  background-color: var(--c10);
}

.configuratore-wrap .etc-wrap__color .selectColor.c11 {
  background-color: var(--c11);
}

.configuratore-wrap .etc-wrap__color .selectColor.c12 {
  background-color: var(--c12);
}

.configuratore-wrap .etc-wrap.in .btn {
  color: #fff;
}

.configuratore-wrap .etc-wrap.in .selectColor.inc1 {
  background-color: var(--inc1);
}

.configuratore-wrap .etc-wrap.in .selectColor.inc2 {
  background-color: var(--inc2);
}

.configuratore-wrap .etc-wrap.in .selectColor.inc3 {
  background-color: var(--inc3);
}

.configuratore-wrap .etc-wrap.in .selectColor.inc4 {
  background-color: var(--inc4);
}

.configuratore-wrap .etc-wrap.in .selectColor.inc5 {
  background-color: var(--inc5);
}

.configuratore-wrap .etc-wrap.in .selectColor.inc6 {
  background-color: var(--inc6);
}

.configuratore-wrap .etc-wrap.in .selectColor.inc7 {
  background-color: var(--inc7);
}


.configuratore-wrap .camera-wrap {
  position: fixed;
  left: 5%;
  right: 5%;
  top: 7.4%;
  bottom: 7.4%;
  width: 90%;
  height: 85.2%;
  border: solid 1px #002c5f;
  border-bottom: 0 solid #000;
}

.configuratore-wrap .camera-wrap::after, .configuratore-wrap .camera-wrap::before {
  content: '';
  display: block;
  width: calc(50% - 50px);
  height: 1px;
  position: absolute;
  background: #002c5f;
  bottom: 0;
  left: 0;
}

.configuratore-wrap .camera-wrap::before {
  left: auto;
  right: 0;
}

.configuratore-wrap .camera-wrap__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #002c5f;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.configuratore-wrap .camera-wrap__btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #002c5f;
}

.configuratore-wrap .camera-wrap i {
  position: absolute;
  width: 44px;
  height: 44px;
  border: 1px solid #002c5f;
}

.configuratore-wrap .camera-wrap i.lt {
  top: 22px;
  left: 22px;
  border-right: 0 solid #000;
  border-bottom: 0 solid #000;
}

.configuratore-wrap .camera-wrap i.rt {
  top: 22px;
  right: 22px;
  border-left: 0 solid #000;
  border-bottom: 0 solid #000;
}

.configuratore-wrap .camera-wrap i.lb {
  bottom: 22px;
  left: 22px;
  border-right: 0 solid #000;
  border-top: 0 solid #000;
}

.configuratore-wrap .camera-wrap i.rb {
  bottom: 22px;
  right: 22px;
  border-left: 0 solid #000;
  border-top: 0 solid #000;
}

.configuratore-wrap .camera-wrap__btnClosed {
  position: absolute;
  right: -35px;
  top: -48px;
  display: block;
  width: 30px;
  height: 30px;
}

.configuratore-wrap .camera-wrap__btnClosed::after, .configuratore-wrap .camera-wrap__btnClosed::before {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  background-color: #002c5f;
  position: absolute;
  left: 50%;
  top: 50%;
}

.configuratore-wrap .camera-wrap__btnClosed::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.configuratore-wrap .camera-wrap__btnClosed::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.configuratore-wrap .camera-sns {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.configuratore-wrap .camera-sns__cont {
  position: absolute;
  width: 922px;
  min-height: 270px;
  background: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
}

.configuratore-wrap .camera-sns__closed {
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
}

.configuratore-wrap .camera-sns__closed::after, .configuratore-wrap .camera-sns__closed::before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
}

.configuratore-wrap .camera-sns__closed::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.configuratore-wrap .camera-sns__closed::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.configuratore-wrap .camera-sns__photo {
  width: 100%;
  height: auto;
  min-height: 200px;
  background-color: #eee;
}

.configuratore-wrap .camera-sns__btn {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.configuratore-wrap .camera-sns__btn button {
  height: 25px;
  padding: 0 40px;
  background: url(../img/bg_dotted.png) no-repeat 0 0/1px 25px;
}

.configuratore-wrap .camera-sns__btn button:first-child {
  background: none;
}

.configuratore-wrap .tit-info-txt {
  position: fixed;
  top: 22vh;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.configuratore-wrap .tit-info-txt.in {
  top: 24vh;
}

.configuratore-wrap .exterior-color {
  position: fixed;
  right: 120px;
  bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  z-index: 100;
}

.configuratore-wrap .exterior-color li {
  width: 26px;
  height: 26px;
  border: 1px solid #707070;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.configuratore-wrap .exterior-color li.on {
  outline: 2px solid #000;
}

.configuratore-wrap .exterior-color li.on::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: -12px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.configuratore-wrap .exterior-color__c1 {
  background-color: var(--c1);
}

.configuratore-wrap .exterior-color__c2 {
  background-color: var(--c2);
}

.configuratore-wrap .exterior-color__c3 {
  background-color: var(--c3);
}

.configuratore-wrap .exterior-color__c4 {
  background-color: var(--c4);
}

.configuratore-wrap .exterior-color__c5 {
  background-color: var(--c5);
}

.configuratore-wrap .exterior-color__c6 {
  background-color: var(--c6);
}

.configuratore-wrap .exterior-color__c7 {
  background-color: var(--c7);
}

.configuratore-wrap .exterior-color__c8 {
  background-color: var(--c8);
}

.configuratore-wrap .exterior-color__c9 {
  background-color: var(--c9);
}

.configuratore-wrap .exterior-color__c10 {
  background-color: var(--c10);
}

.configuratore-wrap .exterior-color__c11 {
  background-color: var(--c11);
}

.configuratore-wrap .exterior-color__c12 {
  background-color: var(--c12);
}

.configuratore-wrap .wheel-list {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  left: 0;
  bottom: 48px;
  gap: 60px;
  display: flex;
}

.configuratore-wrap .wheel-list__item {
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.configuratore-wrap .wheel-list__item span {
  white-space: nowrap;
  font-size: 16px;
}

.configuratore-wrap .wheel-list__item.active .wheel-list__box {
  background-color: #fff;
  border: 0 solid #000;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.configuratore-wrap .wheel-list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 110px;
  border: 2px solid #bbb;
  border-radius: 50%;
  margin-bottom: 11px;
}

.configuratore-wrap .wheel-list__box img {
  width: 70px;
  height: 70px;
}

.configuratore-wrap .text-info {
  padding: 40px 0;
  -webkit-backdrop-filter: brightness(38%) blur(30px);
          backdrop-filter: brightness(38%) blur(30px);
  position: fixed;
  color: #fff;
  width: 820px;
	height:190px;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
	display: flex; flex-direction: column; align-items: center; justify-content: center; 
}

.configuratore-wrap .text-info.in .t2 {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.configuratore-wrap .text-info.in .t3 {
  font-size: 16px;
  margin-top: 10px;
}

.configuratore-wrap .text-info.wonder {
  right: 168px;
  bottom: 168px;
}

.configuratore-wrap .text-info.wonder .wonderfull-list {
  position: absolute;
  left: 0;
  top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.configuratore-wrap .text-info.wonder .wonderfull-list__item {
  cursor: pointer;
  position: relative;
  width: 38px;
  height: 38px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.configuratore-wrap .text-info.wonder .wonderfull-list__item.active {
  border: 4px solid #fff;
}

.configuratore-wrap .text-info .t1 {
  font-size: 28px;
}

.configuratore-wrap .text-info .t2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  line-height: 23px;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  letter-spacing: 0px;
}

.configuratore-wrap .text-info .t3 {
  font-size: 16px;
  margin-top: 13px;
  letter-spacing: 0px;
}
.configuratore-wrap .text-info .t3 .f24 { vertical-align: sub;vertical-align: -webkit-baseline-middle; }
.configuratore-wrap .img-info .t3 .f24 { vertical-align: sub;vertical-align: -webkit-baseline-middle; }
.configuratore-wrap .text-info .btnClosed {
  position: absolute;
  top:16px;
  right:16px;
  width: 24px;
  height: 24px;
  background: url(../img/btn_x.png) no-repeat 0 0 / cover;
}
.configuratore-wrap .img-info {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.configuratore-wrap .img-info__dimmed {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.configuratore-wrap .img-info__cont {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 50px 25px;
  width: 760px;
  background-color: #fff;
  overflow: hidden;
  color: #000;
  height: 511px;
}

.configuratore-wrap .img-info__cont.info {
  padding-top: 40px;
}

.configuratore-wrap .img-info .swiper-wrapper {
  height: auto;
}
.configuratore-wrap .img-info .swiper-slide {
  background-color: #fff;
}

.configuratore-wrap .img-info.in {
  width: 728px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: auto;
}

.configuratore-wrap .img-info.in .t2 {
  font-size: 18px;
}

.configuratore-wrap .img-info.in .img-wrap {
  width: 100%;
  height: 280px;
  background-color: #fff;
  overflow: hidden;
}

.configuratore-wrap .img-info.in .img-wrap img {
  width: 100%;
}

.configuratore-wrap .img-info.in .swiper-horizontal > .swiper-pagination-bullets,
.configuratore-wrap .img-info.in .swiper-pagination-bullets.swiper-pagination-horizontal,
.configuratore-wrap .img-info.in .swiper-pagination-custom,
.configuratore-wrap .img-info.in .swiper-pagination-fraction {
  bottom: 0;
}

.configuratore-wrap .img-info .t1 {
  font-size: 28px;
	line-height: 25px;
}

.configuratore-wrap .img-info .t1 span {
  font-size: 20px;
  display: block;
  font-weight: normal;
}

.configuratore-wrap .img-info .t2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
	margin-bottom: 8px;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #444;
  white-space: nowrap;
}

.configuratore-wrap .img-info .t2 span {
  display: block;
  font-size: 16px;
  margin-top: 5px;
	line-height: 17px;
}
.configuratore-wrap .img-info .t2 span span { display: inline; margin-top:0; font-size:24px; vertical-align: sub; vertical-align: -webkit-baseline-middle;}


.configuratore-wrap .img-info .t3 {
  font-size: 16px;
  color: #444;
  margin-top: 7px;
	line-height: 1;
}

.configuratore-wrap .img-info .img-wrap {
  margin-bottom: 18px;
  position: relative;
}

.configuratore-wrap .img-info .img-wrap p {
  position: absolute;
  left: 20px;
  bottom: 16px;
  font-size: 20px;
  color: #fff;
 display: none;
}
.configuratore-wrap .img-info .movie-wrap {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  padding-top: 57.13%;
  background-color: #ddd;
}

.configuratore-wrap .img-info .movie-wrap iframe, .configuratore-wrap .img-info .movie-wrap img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.configuratore-wrap .img-info .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #002c5f;
  opacity: .4;
  border-radius: 0;
margin:0 7px;
}

.configuratore-wrap .img-info .swiper-pagination-bullet-active {
  opacity: 1;
}

.configuratore-wrap .img-info .swiper-horizontal > .swiper-pagination-bullets,
.configuratore-wrap .img-info .swiper-pagination-bullets.swiper-pagination-horizontal,
.configuratore-wrap .img-info .swiper-pagination-custom,
.configuratore-wrap .img-info .swiper-pagination-fraction {
  bottom: 9px;
  width: 100%;
  text-align: center;
}

.configuratore-wrap .interior-color {
  position: fixed;
  right: 120px;
  bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  z-index: 100;
}

.configuratore-wrap .interior-color li {
  width: 26px;
  height: 26px;
  border: 1px solid #707070;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.configuratore-wrap .interior-color li.on {
  outline: 2px solid #fff;
}

.configuratore-wrap .interior-color li.on::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: -12px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.configuratore-wrap .interior-color__c1 {
  background-color: var(--inc1);
  border-color: #a8a8a8;
}

.configuratore-wrap .interior-color__c2 {
  background-color: var(--inc2);
  border-color: #a8a8a8;
}

.configuratore-wrap .interior-color__c3 {
  background-color: var(--inc3);
  border-color: #4c755c;
}

.configuratore-wrap .interior-color__c4 {
  background-color: var(--inc4);
  border-color: #302f2f;
}

.configuratore-wrap .interior-color__c5 {
  background-color: var(--inc5);
  border-color: #302f2f;
}

.configuratore-wrap .interior-color__c6 {
  background-color: var(--inc6);
  border-color: #302f2f;
}

.configuratore-wrap .interior-color__c7 {
  background-color: var(--inc7);
  border-color: #8e4e24;
}

.configuratore-wrap .dual-color {
  position: fixed;
  width: 100%;
  bottom: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.configuratore-wrap .dual-color li {
  width: 60px;
  height: 60px;
}

.configuratore-wrap .dual-color li img {
  width: 100%;
}

.configuratore-wrap .dual-color li.active {
  outline: 5px solid #fff;
}

.btn_click {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/ico_click.png) no-repeat 0 0/cover;
  position: fixed;
  z-index: 1;
}

.btn_click::after {
  z-index: -1;
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: lightAni 1.3s cubic-bezier(0.5, 1, 0.5, 1) infinite;
          animation: lightAni 1.3s cubic-bezier(0.5, 1, 0.5, 1) infinite;
}

.btn_click_s {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/ico_click2.png) no-repeat 0 0/cover;
  position: fixed;
  z-index: 1;
}

.btn_click_s::after {
  z-index: -1;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: lightAni 1.3s cubic-bezier(0.5, 1, 0.5, 1) infinite;
          animation: lightAni 1.3s cubic-bezier(0.5, 1, 0.5, 1) infinite;
}

.click-box {
  position: fixed;
  z-index: 1;
  width: 60px;
  height: 60px;
}

.click-box .btn {
  display: block;
  width: 72px;
  height: 72px;
  position: absolute;
}

.click-box .point1 {
  background: url(../img/ico_com1.png) no-repeat 0 0/cover;
  top: -80px;
  left: -7px;
}

.click-box .point1.active {
  background: url(../img/ico_com1_on.png) no-repeat 0 0/cover;
}

.click-box .point2 {
  background: url(../img/ico_com2.png) no-repeat 0 0/cover;
  right: -80px;
  top: -20px;
}

.click-box .point2.active {
  background: url(../img/ico_com2_on.png) no-repeat 0 0/cover;
}

.click-box .point3 {
  background: url(../img/ico_com3.png) no-repeat 0 0/cover;
  bottom: -70px;
  right: -50px;
}

.click-box .point3.active {
  background: url(../img/ico_com3_on.png) no-repeat 0 0/cover;
}

.click-box .point4 {
  background: url(../img/ico_com4.png) no-repeat 0 0/cover;
  bottom: -70px;
  left: -50px;
}

.click-box .point4.active {
  background: url(../img/ico_com4_on.png) no-repeat 0 0/cover;
}

.click-box .point5 {
  background: url(../img/ico_com5.png) no-repeat 0 0/cover;
  left: -80px;
  top: -20px;
}

.click-box .point5.active {
  background: url(../img/ico_com5_on.png) no-repeat 0 0/cover;
}

@-webkit-keyframes lightAni {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes lightAni {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
.slider-wrap {
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  padding:46px 0 59px;
  align-items: center;
  /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */

}
.slider-wrap::before {
  content: '';
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top:0;
  backdrop-filter: blur(30px) grayscale(.8);
  -webkit-backdrop-filter: blur(30px) grayscale(.8);
  z-index: -1;
}
.slider-wrap .slider-txt {
  font-size: 82px;
  text-align: center;
  width: 100%;
  height: 80px;
  color:#fff;
  line-height: 1;
  outline: none;
}
.slider-wrap .t1 {
  text-align: center;
  font-size: 27px;
  color:#fff;
}

.slider-wrap .t2 {
  font-size: 20px;
  color:#fff;
  text-align: center;
}
.slider-box {
  margin: 10px 0 30px;
  width: 285px;
  height: 23px;
  border-radius: 14px;
  position: relative;
}
.slider-box::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-radius: 14px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f1f9ff;
}
.slider-box .ui-slider-range {
  position: absolute;
  left: 8px;
  top: 6px;
  height: 11px;
  border-radius: 14px;
  object-fit: contain;
  max-width: calc(100% - 16px);
  background-image: linear-gradient(to left, #879cc6, #a986ad 47%, #fff);
}
.slider-box span {
  position: absolute;
  width: 39px;
  height: 39px;
  background-color: #fff;
  display: flex;  
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top:-10px;
  left:0;
  margin-left: -20px;
  border: 0 solid #000;
  outline: none;
}
.slider-box span::after {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(131deg, #ab85ac 16%, #859dc7 86%);
  border-radius: 50%;
  z-index: 1;
}
.slider-box span::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.8;
  filter: blur(5px);
  background-color: #879cc6;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.spot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 178px;
  z-index: -1;
  
}
.spot.i100 {
  right: 40px;
}

.spot.i70 {
  right: 115px;
}

.spot.i30 {
  left: 112px;
}

.popup_video {overflow:hidden}
.popup_video .popup_content {
  position:absolute; 
  left: calc( 50vw - 380px ); 
  top:calc( 50vh - 255px ); 
  width:760px; 
  height: 511px; 
  background:#fff
} 
.popup_video  .swiper {
  padding-bottom: 18px;
  height: 100%;
}
.popup_video .video_wrap{
  overflow: hidden;
}
.popup_video .swiper-slide {
  padding: 0 50px;
}
.popup_video .swiper-slide .add {
	margin-top:-3px;
  font-size: 20px;
  font-weight: normal;
  color: #444444;
	line-height: 1.4;
}
.popup_video .swiper-slide .caution {
  font-size: 16px;
  font-weight: normal;
  color: #444444;
  margin-top: 10px;
}
.popup_video .swiper-slide .caution .f24 { vertical-align: sub; vertical-align:-webkit-baseline-middle; }
.popup_video .swiper-slide .tit {
  font-size: 28px;
  margin: 18px 0 10px;
}
.popup_video .swiper-horizontal>.swiper-pagination-bullets, 
.popup_video .swiper-pagination-bullets.swiper-pagination-horizontal {
	font-size:0;
  bottom: 13px;
}
.popup_video .swiper-pagination-bullet{
  border-radius: 0;
  background: #002c5f;
  opacity: 0.2;
  width: 10px;
  height: 10px;
  margin:0 7px !important;
}
.popup_video .swiper-pagination-bullet-active{
  opacity: 1;
}
.popup_video .popup_content  video {width:660px; height: 343px; object-fit: cover;}

.popup_content .btn_close {position:fixed; right:0; top:0; width:78px;}
.popup_content .btn_close::before,
.popup_content .btn_close::after {content:''; position:absolute; left:15px; top:auto; bottom:0; display: block; width:30px; height:2px; background:#000}

.layer_popup.wide_ver {
  background: none;
  backdrop-filter:none;
}
.layer_popup#introPop .popup_content .btn_close:before, 
.layer_popup#introPop .popup_content .btn_close:after {
    width: 17px;
    height: 1px;
    margin: -1px 0 0 -7.5px;
}
.layer_popup.wide_ver .popup_content {
  width:700px; 
}

#introPop .popup_content {
  height: 300px;
  text-align: center;
  padding: 40px 0;
}

#introPop .popup_content .tit {
  font-size: 32px;
}
#introPop .popup_content .add {
  font-size: 20px;
  font-weight: normal;
  margin:10px 0 9px 0;
}

.twinkle {
  opacity: 1;
  animation: blink-effect 2s ease infinite;
}

#imgInfo2 .last_page .img-wrap{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 343px;
  overflow: hidden;
}
#imgInfo2 .last_page .img-wrap > img {
  position: absolute;
  left: 0;
}
#imgInfo2 .last_page .img-wrap > img.img1{
  z-index: 2;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}


.btn_sound_ctr {
	z-index:2;
  position: fixed;
  top: 77px;
  right: 17px;
  width: 66px;
  height: 54px;
  background-image: url(../img/ico_sound.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px auto;
}

.btn_sound_ctr.mute {
  background-image: url(../img/ico_sound_off.png);
}

.btn_sound_ctr .blind {
  display: none;
}

.f24 { font-size:24px !important; }
.mt16 { margin-top:16px;}
.mt26 { margin-top:26px;}
.mt35 { margin-top:35px;}
#video1_5 { height: 373px; }
#popup_video5.popup_video .swiper-slide .tit { margin-top:13px; margin-bottom: 6px; }
#popup_video5.popup_video .swiper-slide .caution { margin-top:7px; }
#popup_video3.popup_video .swiper-slide .tit { margin-top:13px; }
#popup_video3.popup_video .swiper-slide .add { line-height: 25px;}
#popup_video4.popup_video .popup_content video { height: 377px;}
#popup_video4.popup_video .swiper-slide .tit { margin-top:13px; }
.configuratore-wrap .img-info#imgInfo6  .t2 {margin-top:20px; margin-bottom: 16px;}
.lh8 { line-height: 0.8;}
.configuratore-wrap .img-info .t3.lh8 { margin-top:8px;line-height:0.8; }
