@charset "utf-8";

#iq6_wrap .iq6_film { width:100%; background: url('/worldpremiere/asset/img/film/bg_film.jpg') center center no-repeat; background-size:cover; padding-top: 100px; } 

#iq6_wrap .iq6_film .film_area { max-width:1700px; min-width:1200px; margin:0 auto; padding: 140px 50px 84px; } 
#iq6_wrap .iq6_film .film_area .title_area { color: #fff; font-family: 'hh_m'; font-size:75px; line-height: 55px; } 
#iq6_wrap .iq6_film .film_area .title_area span { font-family: 'hh_r'; font-size:24px; line-height:34px } 

#iq6_wrap .iq6_film .film_area .film_list { margin-left: -16px; margin-top: -218px; padding-top: 103px; } 
#iq6_wrap .iq6_film .film_list li { display: flex; padding-bottom: 16px; } 
#iq6_wrap .iq6_film .film_list li:nth-child(1) { justify-content: flex-end; } 
#iq6_wrap .iq6_film .film_list li a { display: block; padding-left: 16px; width: 25%; } 
#iq6_wrap .iq6_film .film_list li a .thumb_box { overflow:hidden; position: relative; background: #1a1719; } 
#iq6_wrap .iq6_film .film_list li a .thumb_box::after { content:''; position:absolute; right:20px; bottom:20px; display:block; width:54px; height:54px; background:url('/worldpremiere/asset/img/film/icon_play.png') no-repeat; background-size:100% auto } 
#iq6_wrap .iq6_film .film_list li a .thumb_box img { width: 100%; opacity: 0.4; transition: opacity 0.3s ease; } 
#iq6_wrap .iq6_film .film_list li a .thumb_box .title { opacity:1; position: absolute; left: 24px; top: 20px; color: #fff; font-family: 'hh_m'; font-size: 24px; line-height: 30px; transition: all 0.5s ease-in-out; } 
#iq6_wrap .iq6_film .film_list li a .thumb_box span { font-size: 16px; font-family: 'ht_r'; line-height: 28px; display: block; } 
#iq6_wrap .iq6_film .film_list li a:hover .title { opacity:0; top:-100% } 
#iq6_wrap .iq6_film .film_list li a:hover img { opacity:1 } 
#iq6_wrap .iq6_film .film_list li a:hover .thumb_box::after { background:url('/worldpremiere/asset/img/film/icon_play_on.png') no-repeat; background-size:100% auto } 

#iq6_wrap .iq6_film .unveil_film_area { width:100%; background:rgba(0,5,14,0.1) } 
#iq6_wrap .iq6_film .unveil_film_area .inner { display: flex; max-width:1700px; min-width:1200px; margin:0 auto; padding:100px 50px; align-items: center; } 
#iq6_wrap .iq6_film .unveil_film_area .inner .film_list { display: flex; margin-left: -16px; width: calc(50% + 8px); } 
#iq6_wrap .iq6_film .unveil_film_area .inner .film_list a { width: 100%; } 
#iq6_wrap .iq6_film .unveil_film_area .inner .title_area { color: #fff; font-family: 'hh_m'; font-size: 75px; line-height: 55px; padding-left: 120px; } 
#iq6_wrap .iq6_film .unveil_film_area .inner .title_area span { font-family: 'hh_r'; font-size: 24px; } 


#iq6_footer .footer_box {display: flex;} 


#popup_film .popup_content {width:100%; max-width:1040px;margin:0 50px;}
#popup_film .popup_content .gdpr_youtube_box {position: relative;padding-top:56%; background:#000}
#popup_film .popup_content .gdpr_youtube_box.remove {padding-top:0}
#popup_film .popup_content iframe {position:absolute; left:0; top:0; width: 100%;height: 100%;}
#popup_film .popup_content .btn_film {display:block; width:100%; height:60px; color:#fff; font-family: 'hh_r'; font-size: 18px; line-height:59px; text-align: center; margin-top:10px; background:#002c5f}
#popup_film .popup_content .btn_close {top: -44px;width: 27px;height: 27px;} 
#popup_film .popup_content .btn_close::before,
#popup_film .popup_content .btn_close::after {width: 37px;margin-left: -16px;background:#fff}


